<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="free.game.cargobot"
	android:versionCode="113"
	android:versionName="1.13">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29"/>
	<application
		android:icon="@drawable/Icon"
		android:label="Cargo-Bot"
		android:hasCode="false">
		<activity android:name="android.app.NativeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
